/* SVG */

svg * {
    fill: none;
    stroke-width: 1;
    cursor:  none;
}

#unchanged * {
    stroke: gray;
}

#new * {
    stroke: blue;
}

#removed * {
    stroke: red;
    stroke-dasharray: 1, 1;
}

#outline {
    stroke: gray;
    stroke-dasharray: 1, 1;
}

#click-overlay {
    /* Makes the entire visible part of the rect clickable, even when it is transparent */
    pointer-events: visible;
}

.hover-marker {
    fill: red;
}

.cover-up-active * {
    cursor: none;
}

.cover-up-active .cover-up {
    fill: black;
}

/* HTML */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height:  100%;
    align-items: stretch;
}

.warning {
    color: #a94442;
    padding: 10px;
    font-weight: bold;
    background-color: #f2dede;
}

#warnings {
    width: 100%;
}

svg {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

#sidebar {
    flex: 0 0 250px;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#reset-button, #cover-up-button {
    margin-top: 10px;
    display: block;
    width: 100%;
}

#speech-in-form, #last-tts-line {
    margin-top: 1em;
    word-wrap: break-word;
}

#speech-in-form > input[type="text"] {
    width: 60%;
}

#speech-in-form > input[type="submit"] {
    width: 35%;
}

#speech-recognition-status {
    margin-top: 1em;
}

#speech-recognition-status.disabled {
    display: none;
}

#speech-recognition-status-icon > .fa-circle {
    color: #ccc;
}

#speech-recognition-status.active > #speech-recognition-status-icon > .fa-circle {
    color: #f00;
}

#speech-recognition-status-icon > .fa-microphone {
    color: #fff;
}

#speech-recognition-status-recognized {
    word-wrap: break-word;
}
